html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
select,
button,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  background-color: #F9F9F9;
}

.container {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
}

.container.wide {
  max-width: 1940px;
  margin: 0 auto;
  padding: 0 0px;
}

.btn {
  display: block;
  line-height: 19px;
  border: 1px solid #cecece;
  border-radius: 100px;
}

/*------------------------------PAGE HEADER-----------------------------*/

.header {
  padding-top: 23px;
  height: 157px;
}

.header__top {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}

.header__text {
  flex: 1 1 50%;
  color: #666;
}

.logo {
  flex: 1 1 35%;
}

.burger {
  display: none;
}

.menu {
  position: relative;
  background-color: #fff;
}

.menu__list {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  border: 1px solid #E2E2E2;
}

.menu__item {
  padding: 30px 0;
  max-width: 272px;
  width: 100%;
  text-align: center;
  position: relative;
}

.menu__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: #E2E2E2;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*------------------------------PAGE FOOTER-----------------------------*/

.footer {
  padding-bottom: 32px;
  background-color: #fff;
  position: relative;
}

.footer__menu {
  margin-bottom: 30px;
  top: -40px;
}

.footer__text,
.footer__copy {
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

.footer__copy {
  text-align: right;
}

/*------------------------------PAGE HOME-------------------------------*/

.slider {
  margin-bottom: 37px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.slider__card {
  padding: 372px 0 309px;
  background-image: url(../img/img-slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__item {
  max-width: 280px;
  background-color: #fff;
  padding: 32px 30px 35px;
}

.slider__text {
  padding-left: 48px;
  line-height: 22px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 32px;
}

.slider__text::before {
  position: absolute;
  content: "";
  width: 42px;
  height: 42px;
  left: 0;
  top: 5px;
}

.slider__text--services::before {
  background-image: url(../img/icons/key-icon.svg);
}

.slider__text--engine::before {
  background-image: url(../img/icons/engine-icon.svg);
}

.slider__link {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.slider__link:hover {
  background-color: #333;
  color: #fff;
}

.slider__btns {
  background-color: #FF0000;
  width: 67px;
  height: 67px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__btn {
  font-size: 36px;
  line-height: 30px;
  padding: 0 8px;
  color: #fff;
  position: relative;
}

.slider__btn:nth-of-type(2)::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #fff;
}

.intro {
  padding-top: 37px;
}

.intro__logo img {
  margin: 0 auto;
  margin-bottom: 28px;
}

.intro__text {
  margin-bottom: 28px;
  text-align: center;
}

.intro__inner {
  display: flex;
  gap: 17px;
  margin-bottom: 48px;
}

.intro__item {
  max-width: 442px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.intro__desc {
  padding: 28px 44px 40px;
}

.intro__desc-title {
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 17px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
}

.intro__desc-text {
  margin: 0 auto;
  text-align: center;
  max-width: 220px;
}

.home__text {
  max-width: 810px;
  margin: 0 auto;
  margin-bottom: 105px;
}

/*------------------------------PAGE ABOUT------------------------------*/

.about__wrapper {
  background-color: #fff;
  padding-top: 75px;
  padding-bottom: 56px;
}

.about__title {
  padding: 24px 0;
  text-align: center;
  background-color: #F8F9FA;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.about__subtext {
  display: block;
}

.about__text {
  text-align: center;
  color: #777;
  line-height: 30px;
  margin-bottom: 20px;
}

.about__img-box {
  border-radius: 5px;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.about__list-title {
  margin-left: 38px;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 17px;
}

.about__list {
  color: #777;
  line-height: 28px;
}

.about__item {
  list-style: disc;
  margin-left: 56px;
}

.about__video {
  margin: 45px 0;
  background-color: #000;
  padding: 60px 0;
}

.about__video img {
  margin: 0 auto;
}

.about-desc {
  padding: 55px 40px 44px;
  background-color: #fff;
}

.about-desc__title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 17px;
  margin-left: 10px;
}

.about-desc__text {
  padding-left: 10px;
  color: #777;
  margin-bottom: 35px;
  max-width: 840px;
}

.about-desc__line {
  width: 100%;
  height: 1px;
  background-color: #E2E2E2;
  margin-bottom: 32px;
}

.about-desc__lists {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about-desc__list {
  padding-left: 25px;
}

.about-desc__item {
  list-style: disc;
  color: #777;
  line-height: 28px;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.benefits__item {
  flex: 1 0 45%;
  padding-left: 50px;
  position: relative;
}

.benefits__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/checked-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.decision {
  padding: 30px 32px 30px 0;
  background-color: #fff;
  background-image: url(../img/handshake.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  margin-bottom: 90px;
}

.decision__inner {
  margin-left: auto;
  max-width: 810px;
}

.decision__text {
  color: #000;
  margin-bottom: 17px;
}

.decision__link {
  max-width: 240px;
  padding: 16px 26px;
  background-color: #fff;
}

/*------------------------------PAGE STATIONS---------------------------*/

.services {
  padding-top: 90px;
  padding-bottom: 46px;
  background-color: #fff;
}

.services__title {
  text-align: center;
}

.services__inner {
  display: flex;
  justify-content: space-evenly;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 66px;
}

.services__card {
  max-width: 332px;
  text-align: center;
}

.services__card-wrapper {
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
  border-radius: 5px;
}

.services__card-content {
  padding: 28px 32px;
}

.services__card-title {
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 25px;
}

.services__card-text {
  max-width: 209px;
  margin: 0 auto;
  line-height: 22px;
}

.services__card-text--wide {
  max-width: 260px;
  width: 100%;
}

.services__card-text--narrow {
  max-width: 131px;
  width: 100%;
}

.services__card-text a {
  color: #337AB7;
}

.services__card-desc {
  color: #999;
  font-size: 14px;
}

.services__card-desc a {
  color: #337AB7;
}

.section__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 35px;
}

.location {
  padding-top: 85px;
  padding-bottom: 50px;
}

.location__title {
  margin-bottom: 28px;
}

.location__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 53px;
}

.location-center {
  max-width: 660px;
  width: 100%;
}

.location-center__title {
  padding-left: 40px;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 26px;
  position: relative;
}

.location-center__title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(../img/icons/location-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.location-center__wrapper {
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}

.location-center__box {
  background-color: #fff;
  padding: 26px 28px 23px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EBEBEB;
}

.location-center__text {
  font-size: 18px;
  line-height: 25px;
}

.location-center__text a {
  padding-left: 20px;
  position: relative;
}

.location-center__text a::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #c4c4c4;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.location-center__suptext {
  font-size: 14px;
  line-height: 16px;
  color: #666;
}

.location-center__link {
  width: 145px;
  display: block;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cecece;
  border-radius: 100px;
  transition: all 0.3s;
}

.location-center__link:hover {
  background-color: #333;
  color: #fff;
}

.location-center__link:active {
  border: 3px solid #CECECE;
  color: #333;
  background-color: #fff;
}

.video-guide {
  padding-top: 50px;
  padding-bottom: 50px;
}

.video-guide__inner {
  display: flex;
  gap: 45px 40px;
  flex-wrap: wrap;
}

.video-guide__card {
  max-width: 426px;
  width: 100%;
}

.video-guide__card-text {
  color: #666;
  line-height: 23px;
  margin-bottom: 7px;
}

.video-guide__box {
  background-color: #fff;
  padding: 25px 0 28px;
  position: relative;
}

.video-guide__box img {
  margin: 0 auto;
}

.video-guide__box-link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.consult {
  padding-top: 50px;
  padding-bottom: 45px;
}

.consult__inner {
  padding: 37px 75px 37px 36px;
  background-image: url(../img/form-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.consult__title {
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  color: #fff;
  max-width: 580px;
}

.form {
  max-width: 393px;
  width: 100%;
  background-color: #fff;
  padding: 32px 22px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-height: 480px;
}

.form__title {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 27px;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 25px;
}

.form__label {
  font-size: 14px;
  line-height: 20px;
}

.form__label span {
  color: #DF0918;
}

.form__input,
.form__select {
  display: block;
  width: 100%;
  padding: 16px 12px 13px;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
  margin-bottom: 20px;
  border: 1px solid #e2e2e2;
}

.form__select {
  display: block;
}

.form__btn {
  width: 100%;
  background-color: #27AE60;
  font-size: 18px;
  line-height: 21px;
  border-radius: 3px;
  padding: 17px 0;
  color: #fff;
  border: none;
  transition: all 0.5s ease;
}

.form__btn:hover {
  background-color: #2EBF6B;
}

.form__btn:active {
  background-color: #23A359;
}

.popup {
  display: none;
  max-width: 393px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 21px 26px;
  max-height: 480px;
}

.popup__img-box img {
  margin: 0 auto;
  margin-bottom: 20px;
}

.popup__img-box--closeBtn img {
  margin-right: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.popup__text {
  text-align: center;
  font-size: 18px;
  max-width: 317px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.popup__suptext {
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 22px;
  border-bottom: 1px solid #e2e2e2;
  color: #828282;
}

.popup__socials {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.services-list {
  padding-top: 45px;
  margin-bottom: 116px;
}

.services-list__inner {
  background-color: #fff;
  padding: 55px 36px 45px 40px;
}

.services-list__title {
  margin-bottom: 10px;
  line-height: 26px;
}

.services-list__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.services-list__list {
  flex: 1 0 25%;
  padding-left: 20px;
}

.services-list__item {
  list-style: disc;
  line-height: 28px;
  color: #777;
}

.services-list__text a {
  color: #337AB7;
}

.services-list__text:not(:last-child) {
  padding-bottom: 47px;
  margin-bottom: 43px;
  border-bottom: 1px solid #e2e2e2;
}

.services-list__wrapper {
  display: flex;
}

.services-list__conditions {
  flex: 1 1 50%;
}

.services-list__accum {
  flex: 1 1 50%;
}

/*------------------------------PAGE SOLUTIONS--------------------------*/

.solutions {
  background-color: #fff;
  padding-top: 111px;
}

.solutions__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  max-width: 1360px;
  width: 100%;
  margin: 0 auto 40px;
}

.solutions__title--margin {
  margin-top: -60px;
}

.solutions__box {
  display: flex;
  align-items: center;
  align-items: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.solutions__box--paddings {
  padding-left: 40px;
  padding-right: 20px;
}

.solutions__item {
  max-width: 220px;
  width: 100%;
}

.solutions__item-img img {
  margin: 0 auto;
  margin-bottom: 16px;
}

.solutions__img--margin {
  padding-bottom: 40px;
}

.solutions__item-text {
  margin: 0 auto;
  text-align: center;
}

.solutions__item-text--width-1 {
  width: 185px;
}

.solutions__item-text--width-2 {
  width: 200px;
}

.solutions__item-text--width-3 {
  width: 211px;
}

.solutions__item-text--width-4 {
  width: 235px;
}

.solutions__item-text--width-5 {
  width: 209px;
}

.solutions__item-text--width-6 {
  width: 164px;
}

.solutions__img {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

/*------------------------------PAGE CONTACTS---------------------------*/

.contacts {
  padding: 95px 15px 115px;
  background-color: #fff;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1360px;
  margin: 0 auto;
}

.contacts__title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 40px;
}

.contacts__address {
  font-style: normal;
  margin-bottom: 37px;
}

.contacts__address-link {
  color: #337ab7;
}

.contacts__map {
  max-width: 1000px;
  height: 570px;
  width: 100%;
}

.contacts__list:not(:last-child) {
  margin-bottom: 37px;
}

.contacts__link--gray {
  color: #999;
}

.contacts__link--violet {
  color: #79509A;
}

@media (max-width: 1360px) {
  .solutions__box {
    flex-wrap: wrap;
    row-gap: 30px;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }

  .solutions__box--paddings {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: none;
    padding: 0 30px;
  }

  .container {
    max-width: none;
    padding: 0 30px;
  }

  .header__top {
    position: relative;
    z-index: 2;
  }

  .burger {
    display: block;
    width: 40px;
    height: 22px;
    position: relative;
    cursor: pointer;
  }

  .burger span,
  .burger:before,
  .burger:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #333333;
    transition: all 0.5s ease;
    border-radius: 5px;
  }

  .burger:before {
    content: "";
    top: 0;
  }

  .burger:after {
    content: "";
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .burger.active:before {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    background-color: #999999;
    height: 2px;
  }

  .burger.active span {
    transform: translate(0, -50%) scale(0);
  }

  .burger.active:after {
    bottom: 50%;
    transform: translate(0, 50%) rotate(-45deg);
    background-color: #999999;
    height: 2px;
  }

  .menu {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    transform: translateY(-100%);
    transition: all 0.5s ease;
  }

  .menu.active {
    transform: translateY(0);
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
    border: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .menu__item {
    max-width: 100%;
    padding: 0;
  }

  .menu__item:first-child {
    padding-top: 100px;
  }

  .menu__item:not(:last-child)::after {
    content: none;
  }

  .menu__link {
    display: block;
    width: 100%;
    padding: 23px 0;
    border-bottom: 1px solid #E2E2E2;
  }

  .footer {
    padding-bottom: 13px;
  }

  .footer__menu {
    display: none;
  }

  .footer__text {
    padding-top: 13px;
  }

  .slider__card {
    padding: 150px 0;
  }

  .intro__inner {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .intro__item {
    max-width: 327px;
  }

  .home__text {
    text-align: center;
    max-width: 680px;
    margin-bottom: 30px;
  }

  .about__title {
    font-size: 16px;
    line-height: 24px;
  }

  .about__text {
    line-height: 22px;
  }

  .about__list-title {
    font-size: 16px;
    margin-left: 0;
  }

  .about__item {
    margin-left: 18px;
  }

  .about__video {
    width: 93%;
    margin: 41px auto 26px;
    padding-top: 112px;
    padding-bottom: 125px;
  }

  .about__video-link img {
    height: 40px;
    width: 40px;
  }

  .about-desc {
    padding: 35px 15px 30px;
  }

  .about-desc__title {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    margin-bottom: 7px;
  }

  .about-desc__text {
    padding-left: 0;
  }

  .about-desc__list {
    line-height: 28px;
    padding-left: 20px;
  }

  .benefits__item {
    padding-left: 35px;
  }

  .decision {
    margin-bottom: 37px;
    padding-top: 210px;
    padding-right: 15px;
  }

  .decision__inner {
    margin-left: 15px;
    width: 100%;
  }

  .services {
    padding-top: 30px;
  }

  .services__inner {
    flex-wrap: wrap;
  }

  .services__title {
    display: none;
  }

  .services__card-content {
    padding-top: 15px;
  }

  .location {
    padding-top: 60px;
    padding-bottom: 27px;
  }

  .location__inner {
    justify-content: space-evenly;
  }

  .location-center {
    max-width: 100%;
  }

  .video-guide {
    padding-top: 27px;
    padding-bottom: 25px;
  }

  .video-guide__inner {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }

  .consult {
    padding: 25px 0;
  }

  .consult__inner {
    flex-direction: column;
  }

  .consult__title {
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    max-width: 434px;
  }

  .form {
    margin: 0 auto;
  }

  .services-list {
    padding-top: 25px;
  }

  .services-list__header {
    display: none;
  }

  .services-list__box {
    flex-wrap: wrap;
    row-gap: 30px;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }

  .services-list__title {
    margin-bottom: 0px;
  }

  .services-list__list {
    flex: 1 0 40%;
  }

  .services-list__wrapper {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }

  .solutions {
    padding-top: 27px;
  }

  .solutions__title {
    padding-left: 30px;
  }

  .solutions__title--margin {
    margin-top: 40px;
  }

  .solutions__img {
    max-width: 100%;
  }

  .solutions__img--margin {
    padding-bottom: 0;
    margin-bottom: 50px;
  }

  .contacts {
    padding: 38px 0 0;
  }

  .contacts__inner {
    flex-direction: column;
    row-gap: 45px;
  }

  .contacts__info {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
  }

  .contacts__title {
    flex-basis: 100%;
  }

  .contacts__address {
    flex: 1 0 50%;
  }

  .contacts__list {
    flex: 1 0 50%;
  }
}

@media (max-width: 768px) {
  .container.wide {
    max-width: none;
    padding: 0 30px;
  }

  .slider {
    margin-bottom: 13px;
    box-shadow: none;
  }

  .slider__card {
    padding: 0;
    background-image: none;
  }

  .slider__content {
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
  }

  .slider__item {
    max-width: 324px;
    padding: 36px 39px;
  }

  .slider__btns {
    display: none;
  }

  .slider__link {
    margin: 0 auto;
    width: 225px;
    height: 57px;
  }

  .about__subtext {
    display: inline;
  }

  .video-guide__card {
    max-width: 339px;
  }

  .consult__inner {
    background-image: url(../img/ipad-form-bg.jpg);
  }

  .form {
    max-width: 264px;
    max-height: 390px;
    padding: 13px 14px 18px;
  }

  .form__title {
    font-size: 16px;
    line-height: 19px;
    padding: 0 20px 13px;
    margin-bottom: 5px;
  }

  .form__input,
  .form__select {
    padding: 12px 7px 12px;
    margin-bottom: 10px;
  }

  .form__select {
    margin-bottom: 16px;
  }

  .form__btn {
    padding: 8px 30px;
  }

  .popup {
    margin: 0 auto;
    max-width: 300px;
    padding: 21px 13px;
  }

  .popup__img-box:first-child {
    padding-right: 8px;
  }

  .popup__img-box img {
    margin-bottom: 7px;
  }

  .popup__img-box--big-checked {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 18px;
  }

  .popup__text {
    max-width: 290px;
    margin-bottom: 15px;
  }

  .popup__suptext {
    max-width: 230px;
    margin: 0 auto;
    border: none;
  }

  .popup__socials {
    position: relative;
    padding-top: 26px;
  }

  .popup__socials::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
    top: 0;
  }
}

@media (max-width: 731px) {
  .intro__inner {
    justify-content: space-around;
  }

  .video-guide__inner {
    justify-content: space-evenly;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 15px;
  }

  .header__top {
    flex-wrap: wrap;
  }

  .header__text {
    flex: 0 1 100%;
    order: 3;
    text-align: center;
  }

  .logo {
    margin-bottom: 15px;
  }

  .burger {
    width: 30px;
    height: 20px;
  }

  .menu__item:first-child {
    padding-top: 130px;
  }

  .about__title {
    padding: 26px 12px;
  }

  .about__wrapper {
    padding: 30px 0 15px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .about__video {
    padding: 60px 0;
    width: 100%;
  }

  .about__video-link img {
    width: 100px;
    height: 100px;
  }

  .about-desc {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 35px 13px 24px;
  }

  .about-desc__lists {
    flex-wrap: wrap;
  }

  .benefits {
    flex-wrap: wrap;
    row-gap: 25px;
  }

  .benefits__item {
    flex: 1 1 290px;
    padding-left: 0;
    padding-top: 30px;
  }

  .decision {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    background-size: contain;
    padding: 150px 13px 36px 13px;
  }

  .decision__inner {
    margin-left: 0;
  }

  .decision__link {
    margin: 0 auto;
  }

  .services {
    padding-bottom: 24px;
  }

  .location {
    padding-top: 24px;
  }

  .location-center__box {
    flex-wrap: wrap;
    padding: 20px 13px;
    row-gap: 20px;
  }

  .services-list {
    margin-bottom: 37px;
  }

  .services-list__inner {
    padding: 24px 13px 37px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
  }

  .services-list__box {
    row-gap: 20px;
  }

  .services-list__list {
    flex: 1 0 100%;
  }

  .services-list__wrapper {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .solutions__title {
    text-align: center;
  }

  .solutions__wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .solutions__box {
    justify-content: space-evenly;
  }

  .solutions__item {
    max-width: 290px;
  }

  .solutions__item:last-child {
    padding-bottom: 40px;
  }

  .solutions__img--margin {
    margin-bottom: 0;
  }

  .contacts__info {
    display: block;
    padding: 0 15px;
  }
}

@media (max-width: 425px) {
  .slider__item {
    max-width: 290px;
    padding: 32px 35px 35px;
  }

  .services__inner {
    row-gap: 30px;
  }

  .services__card {
    max-width: 290px;
  }

  .location__title {
    text-align: center;
  }

  .video-guide__title {
    text-align: center;
  }

  .video-guide__box {
    padding: 18px 0;
  }

  .video-guide__box img {
    max-width: 146px;
    width: 100%;
  }

  .video-guide__box-link img {
    max-width: 46px;
  }

  .video-guide__card-text {
    text-align: center;
  }

  .consult__inner {
    padding: 30px 13px 34px;
  }

  .popup__img-box:first-child {
    padding-right: 0px;
  }

  .popup__text {
    margin-bottom: 12px;
  }

  .popup__suptext {
    padding-bottom: 10px;
  }
}

@media (max-width: 420px) {
  .decision {
    padding-top: 100px;
  }
}

@media (max-width: 330px) {
  .decision {
    padding-top: 80px;
  }
}